
@media screen and (min-width:1280px){
  .center{
    width: 1200px;
    margin: auto;
  }
}
@media screen and (max-width:1280px){
  body{
    background-color: red;
  }
  .center{
    width: 100%;
  }
}
@media screen and (max-width:740px){
  #block-menu-menu-top ul.menu{
    margin-left: 10px;
  }
}