
/* Général ********************************************************************/
body{
  font-family: arial;
  line-height: 1.5em;
}
strong{
  font-weight: bold;
}
#block-superfish-1:after{
  content: "";
  display: block;
  clear: both;
  margin-bottom: 30px;
}
.dnd-atom-wrapper {
    display: block;
}
#main_content{
  clear: both;
}
ul li.leaf {
  list-style: none;
}
#main_content .group-left ul li{
  padding-left: 22px;
  background: url(../images/icons/bullet.png) no-repeat 9px 10px;
}
#main_content a{
  color: #49aad3;
}
#main_content{
  color: #444a52
}
h2#page-title{
  
}
a:hover{
  text-decoration: underline;
}
h2,h3,h4{
  font-family: "proxima-nova-sc-osf-ext-cond",sans-serif;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1.4em;
}
h4{
  font-size: 1.25em;
  margin: 0.4em 0 0.2em 0;
}

/* Coordonnées ****************************************************************/
.iti_adress{
  background: url(../images/icons/pointer-small.png) no-repeat 5% 50%;
}
.iti_tel{
  background: url(../images/icons/tel-small.png) no-repeat 5% 50%;
}
.iti_email{
  background: url(../images/icons/mail-small.png) no-repeat 5% 50%;
}
.iti_train{
  background: url(../images/icons/train-small.png) no-repeat 5% 50%;
}
.iti_bus{
  background: url(../images/icons/bus-small.png) no-repeat 5% 50%;
}
.iti_car{
  background: url(../images/icons/car-small.png) no-repeat 3% 50%;
}
a.vie_lyceenne{
  background: url(../images/icons/eye-small.png) no-repeat 5% 50%;
  display: block;
  padding : 10px 3px 10px 44px;
}

/* Menus hauts ****************************************************************/
#top_bar{
  background-color: #3b3b3b;
  min-height: 41px;
}
#block-menu-menu-top{
  float: left;
}
#block-menu-menu-top ul.menu{
  margin-left: 440px;
}
#block-menu-menu-top ul.menu a{
  color: #7abed6;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  display: block;
  padding: 10px 5px;
}
/* Moteur de recherche ********************************************************/
#search-block-form{
  padding-top: 10px;
  float: left;
}
/* logos **********************************************************************/
#paul_bousquet{
  margin-top: 40px;
}
#link_ldlm,#link_pdfm{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size:  0.9em;
  display: block;
  float: left;
}
#link_ldlm{
  color: #236f8b;
  margin-right: 5px;
}
#link_pdfm{
  color: #ef8c0c; 
}

/* zoom ***********************************************************************/
.group-all-home-zoom{
  position: relative;
}
.group-all-home-zoom .field-name-zoom-sur{
  position: absolute;
  top: 20%;
  left: 20%;
}
.group-all-home-zoom .field-name-over-zoom-small img#over-zoom-1{
  position: absolute;
  bottom: 53.9%;
  left: 0;
  z-index: 2;
  max-width: 19%;
}
.group-all-home-zoom .field-name-over-zoom-small img#over-zoom-2{
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 2;
  max-width: 19%;
}
.group-all-home-zoom .field-name-field-scald-image{
  position: absolute;
  bottom: 4px;
  left: 0;
  max-width: 18.9%;
}
h2.title2_zoom_home{
  font-family: "proxima-nova-sc-osf-ext-cond",sans-serif;
  font-size:  2em;
  color: white;
}

.group-all-home-zoom .field-name-title{
  position: absolute;
  top: 46%;
  left: 20%;
}
.h3-zoom-home a{
  font-family: 'Open Sans', sans-serif;
  font-size:  1.5em;
  color: white;
  text-decoration: none;
}
.h3-zoom-home a:hover{
  text-decoration: underline;
}

body.front .block-views .group-all-home-zoom .field-name-body{
  position: absolute;
  top: 52%;
  left: 20%;
  width: 28%;
  color: white;
}
/* actualités home et blocks accueil ******************************************/
body.front .region-home-col1 .block-views h2,
body.front .region-home-col2 h2,
body.front #block-bean-edito h2{
  color: #91979f;
  font-size: 2em;
  paddin-left: 65px;
  line-height: 54px;
  background: url(../images/icons/flamme.png) no-repeat 0 50%;
  padding-left: 65px;
  margin: 30px 0;
}
body.front .region-home-col2 h2,{
  background: url(../images/icons/rose-vent.png) no-repeat 0 50%;
}
body.front .region-home-col2 h3{
  color: #7786a1;
}
body.front #block-bean-edito h2{
  background: url(../images/icons/drapeau.png) no-repeat 0 50%;
}

body.front #main_content .region-home-col2 h4 a{
  color: #444a52;
  padding-left: 22px;
  background: url(../images/icons/bullet.png) no-repeat 9px 10px;
  display: block;
  text-decoration: none;
}
body.front .region-home-col2 > .block-views{
  padding-bottom: 15px;
  border-bottom: 1px solid #e6edf2;
  border-top: 1px solid #e6edf2;
  padding-top: 15px;    
  margin-bottom: 1px;
}
body.front .region-home-col2 #block-views-formations-block-3{
  border-top: 0;
  padding-top: 0;
}
.group-title-img{
  position: relative;
}
body.front h3.h3-event{
  position: absolute;
  bottom: 3px;
  min-height: 60px;
  border-left: 5px solid #236f8b;
  background: #58a8c9 url(../images/bg/bg_event.jpg) no-repeat 0 50%;
  width: 95.9%;
  opacity: 0.9;
}

body.front #main_content h3.h3-event a{
  display: block;
  font-family: 'Open Sans', sans-serif;
  padding: 5px 0 0 22px;
  color: white;
  font-size: 1.3em;
  text-decoration: none;
  text-transform: uppercase;
}
body.front .block-views .field-name-body{
  color: #444a52;
  font-family: 'Open Sans', sans-serif;
}
#main_content > .container:after{
  content: "";
  display: block;
  clear: both;
  margin-bottom: 20px;
}
.block-bean h2{
  color: #236f8b;
  font-family: "proxima-nova-sc-osf-ext-cond",sans-serif;
  font-size: 1.6em;
  margin-bottom: 10px;
}
.block-bean{
  margin-top: 20px;
}
.block-bean .field-name-field-contenu{
  color: #444a52;
  padding-left: 5%;
  font-size
}
#block-bean-edito{
  margin-top: 0;
}
/* formation ******************************************************************/
#block-webform-client-block-4,#block-webform-client-block-6,
#block-webform-client-block-7, #block-webform-client-block-8, #block-webform-client-block-9{
    display:none;
}
#block-webform-client-block-4:target,
#block-webform-client-block-6:target,
#block-webform-client-block-7:target,
#block-webform-client-block-8:target,
#block-webform-client-block-9:target{
    display:block;
}
body.no-pro .group-pre-inscription-pro{
  display: none;
}
body.pro .group-scolaire{
  display: none;
}
.group-en-tete{
  position: relative;
}
.group-titre-sous-titre{
  width: 353px;
  opacity: 0.9;
  position: absolute;
  top: 33px;
  height: 78px;
  background: #58a8c9 url(../images/icons/rose-vent-orange.png) no-repeat 5px 50%;
  padding-left: 68px;
}
body.pro .group-titre-sous-titre{
  background: #e68c04 url(../images/icons/rose-vent-orange.png) no-repeat 5px 50%;
}
.group-titre-sous-titre h2{
  color: white;
  font-family: "proxima-nova-sc-osf-ext-cond",sans-serif;
  margin-top: 18px;
}
.group-titre-sous-titre .field-item{
  color: white;
}
#block-system-main .group-left h3,.h3-formation{
  background: transparent url(../images/icons/separator-blue.png) no-repeat 50% 0;
  padding-top:  30px;
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
}
body.pro #block-system-main .group-left h3,body.pro .h3-formation{
  background: transparent url(../images/icons/separator-orange.png) no-repeat 50% 0;
}
.separator-top{
  background: transparent url(../images/icons/separator-blue.png) no-repeat 50% 0;
  padding-top:  20px;
  margin-top: 20px;
}
body.pro .separator-top{
  background: transparent url(../images/icons/separator-orange.png) no-repeat 50% 0;
  padding-top:  20px;
  margin-top: 20px;
}
body.no-pro .h3-formation{
  color: #236e8b;
}
body.pro .h3-formation{
  color: #f88904;
}
.group-metier-secteur{
  background: #18516d url(../images/bg/bg_arrow_white_blue.png) no-repeat 0 0;
  padding: 15px 2px 15px 22px;
}
.group-metier-secteur h3{
  
  font-size: 1.2em;
  text-transform: uppercase;
  color: white;
}
.group-metier-secteur a{
  color: #49aad3;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  display: block;
  
}
.group-metier-secteur a:before {
    content: ">";
    margin-right: 13px;
}
.group-scolaire-right {
  font-size: 0.9em;
  line-height: 1em;
}
.h3-secteur-act{
  border-top: 1px solid #437e9c;
  margin-top: 15px;
  padding-top: 15px;
}
div.div-scol-right{
  margin-top: 33px;
  border: 1px solid #58a7c9;
}
div.div-scol-right.last{
  margin-bottom: 33px;
}
body.pro div.div-scol-right.first{
  margin-top: 0;
}
div.group-pre-inscription-pro{
  margin-top: 33px;
  border: 1px solid #ffd202;
  background: white url(../images/bg/bg-orange-hand.gif) no-repeat 0 0;
}
.group-scolaire-right h3,
.group-pro h3,
div.group-pre-inscription-pro h3{
  background-color: #58a7c9;
  color: white;
  padding: 12px 15px;
}
div.group-pre-inscription-pro h3{
  background-color: transparent;
  color: black;
}
.group-scolaire-right h3.bg-rose-vent{
  background: #4aaad3 url(../images/bg/bg_blue_draw.jpg) no-repeat 0 0;
  padding: 23px 15px;
}

.group-scolaire-right ul{
  margin : 10px 0;
}
.group-scolaire-right a{
  color: #49aad3;
}
.group-scolaire-right ul li,
.div-scol-right ul li{
  padding : 10px 3px 10px 12%;
}
.field-name-field-nom-formation{
  color: #ef8c0c;
  font-size: 1.1em;
  padding: 10px 0 20px 0;
  border-bottom: 1px dotted #cfd1d3;
  
}
.group-scolaire-right .node-t-moignage,
.group-pro .div-scol-right p,
div.field-name-field-contact,
.field-name-field-remplir-formulaire a{
  padding: 20px 10px 5px 15px;
}
div.field-name-field-contact{
  padding-top: 0;
}
.field-name-field-remplir-formulaire a{
  margin-top: 20px;
  display: block;
  color: #49aad3;
}
.field-name-field-preinscription-scolaire,.field-name-field-demande-entretien,
.group-portes-ouvertes,.field-name-field-documentation{
  width: 44%;
  margin: 20px 3% 0 0;
  float: left;
  border: 1px solid #e7d401;
  display: block;
}
.group-portes-ouvertes{
  position: relative;
}
.group-portes-ouvertes .field-name-node-link a{
  color: #49aad3;
}
.field-name-field-preinscription-scolaire{
  background: #FFFFFF url(../images/bg/bg-pre-inscription.gif) no-repeat 0 0;
}
.field-name-field-demande-entretien{
  background: #FFFFFF url(../images/bg/bg-dde-entretien.gif) no-repeat 0 0;
}
.field-name-field-portes-ouvertes{
  background: #FFFFFF url(../images/bg/bg-portes-ouvertes.gif) no-repeat 0 0;
}
.field-name-field-documentation{
  background: #FFFFFF url(../images/bg/bg-dde-doc.gif) no-repeat 0 0;
}
.field-name-field-preinscription-scolaire a,
.field-name-field-demande-entretien a,
.field-name-field-portes-ouvertes a,
.field-name-field-documentation a{
  display: block;
  padding: 16px 20% 5px 16px;
  color: #131415;
  font-family: "proxima-nova-sc-osf-ext-cond",sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
  height: 136px;
}

.field-name-field-date-portes-ouvertes{
  position: absolute;
  top: 45%;
  left: 7%;
  color: #000000;
}
.dates-debut-fin{
  padding-left: 22px;
  background: url(../images/icons/bullet.png) no-repeat 9px 10px;
}
body.pro .group-scolaire-right{
  display: none;
}
.galleria-container {
  background: none repeat scroll 0 0 #18516D;
}
/* Formulaires d'inscription **************************************************/
#block-webform-client-block-4,#block-webform-client-block-6,
#block-webform-client-block-7,#block-webform-client-block-8,
#block-webform-client-block-9{
  width: 50%;
  margin: 0 auto;
}
.webform-component-fieldset{
  border: 2px solid #e7d401;
  border-radius: 8px;
  width: 75%;
  padding: 20px;
  margin: 20px 0 0 0;
}
.webform-client-form input.form-text, .webform-client-form textarea{
  width: 99.9%;
}
/* Menus principaux ***********************************************************/
#block-menu-block-2{
    display: none;
}
#main_menu{
  clear: both;
}
#superfish-1{
  margin-top: 30px;
}
#superfish-1 li{
  padding: 0;
  margin: 0;
}
#superfish-1 > li > a{
  background-color: #e6edf2;
  padding: 10px 30px 10px 10px;
  color: #566174;
  border-right: 1px solid white;
  font-size: 1.2em;
}
#superfish-1 > li.sf-no-children > a{
  padding: 10px;
  
}
#superfish-1 > li.active-trail> a{
  background-color: #236f8b;
  color: white;
}
#superfish-1 li a{
  text-decoration: none;
  display: block;
  text-decoration: none;
  
}
ul#superfish-1 li > ul > li a{
  background-color: #566174;
  padding: 10px;
  color: white;
  font-size: 1em;
}
.sf-sub-indicator {
  right: 0.5em;
}
#superfish-1 li#menu-652-1{
  margin-left: 12%;
}
#superfish-1 li#menu-652-1 a{
  background-color: #236f89;
  color: #FFFFFF;
}
 #superfish-1 li#menu-702-1 a{
     background-color: #EF8C2F;
     color: #000000;
 }
/* Menus secondaires **********************************************************/
ul.menu li {
  margin: 0;
}
li.expanded, li.collapsed, li.leaf {
  padding: 0;
  margin: 0;
}
.region-sidebar-left #block-menu-block-1 h2{
  background-color: #18516e;
  padding: 20px 10px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}
.region-sidebar-left .menu-block-wrapper > ul.menu > li{
  margin: 5px 0 20px 6px;
  border-top: 1px solid #e6edf2;
}
.region-sidebar-left .menu-block-wrapper > ul.menu > li.first{
  border-top: 0px;
}
.region-sidebar-left .menu-block-wrapper > ul.menu > li a{
  display: block;
  padding: 5px 0;
}
ul#superfish-1 > li > li a{
  display: block;
  padding: 10px 0;
}
.region-sidebar-left .menu-block-wrapper > ul.menu > li > a{
  color: #18516e;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}
.region-sidebar-left .menu-block-wrapper > ul.menu > li.expanded{
  list-style: none;
}
.region-sidebar-left .menu-block-wrapper > ul.menu > li > ul > li > a{
  display: block;
  padding-left: 22px;
  background: url(../images/icons/arrow-sous-menu-3.png) no-repeat 0 50%;
  text-decoration: none;
}
.region-sidebar-left .menu-block-wrapper > ul.menu > li > ul > li.active > a{
  background: #18516e url(../images/icons/arrow-sous-menu-3-selected.png) no-repeat 3px 50%;
}
/* Pied de page footer ********************************************************/
#main_footer{
  clear: both;
  margin-top: 20px;
}
#main_footer .big-container{
  position: relative;
}
#main_footer .big-container:after{
  content: "";
  display: block;
  clear: both;
}
#footer-ldlm-pfm{
  position: absolute;
  top: 5%;
  z-index: 5;
  width: 70%;
  left: 23%;
}
#cols-footer{
  position: absolute;
  top: 56%;
  width: 100%;
}
#footer-ldlm-pfm #link_ldlm{
  color: #02BAFD;
}
#footer-ldlm-pfm a{
  font-size: 1.6em;
}
#paul-bousquet-bas{
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  padding: 0 30px;
  float: left;
}

#cols-footer .block-bean{
  font-size: 0.9em;
  padding-left: 1%;
  color: white;
}
#cols-footer .block-bean h2{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  margin-bottom: 2%;
  font-size: 1em;
}
#cols-footer .block-bean .field-name-field-email a{
  color: #1699CF;
  background: url(../images/icons/mail-small.png) no-repeat 0 50%;
  padding-left: 5%;
  display: block;
}
#cols-footer .block-bean .field-items{
  padding-left: 5%;
  color: #6E7B83;
}
/* partenaires ****************************************************************/
.region-footer-col3 .views-row{
  float: left;
  margin: 0 2% 3px 0;
}

.view-id-partenaires{
  min-height: 50px;
}
.view-id-partenaires .view-content{
  float: right;
  width: 40%;
}
#block-views-partenaires-block-1{
  clear: both;
}
/* ckeditor styles ************************************************************/
.bg-deep-blue{
  padding: 20px 10px 40px 20px;
  color: white;
  background: #18516d url(../images/bg/bg_arrow_blue_white.png) no-repeat 0 100%;
}
.bg-deep-blue .link-blue-arrow, .fleche-bleue{
  display: block;
  padding-left: 15px;
  background: url(../images/icons/arrow-blue-small.png) no-repeat 0 50%;
  color: #84d3ee;
}
.signature{
  color: #8c9aaa;
  background: url(../images/icons/guillemets-grises.png) no-repeat 0 0;
  padding-left: 30px;
  line-height: 19px;
  float: right;
}
/* Annuaire *******************************************************************/
.field-name-field-image-publique img,
.field-name-field-titre{
  float: right;
  clear: right;
  
}
.field-name-field-nom,.field-name-field-prenom{
  float: left;
  color: #49AAD3;
  padding-right: 0.5em;
}
.field-name-field-courriel-public{
  clear: left;
}
.field-name-field-courriel-public.clearfix:after{
  clear: left;
}
.group-apres-click .field-group-format-toggler a{
  display: block;
  position: relative;
  text-indent: -6000px;
}
div.view-annuaire .views-row{
  border-left: 5px solid #286E89;
  padding: 10px;
  margin : 5px 0;
}
.profile {
  margin: 0;
}
/* pages classiques ***********************************************************/
.field-name-body h3{
  color: #ef8c0c;
  margin: 15px 0 5px 0;
  background: transparent url(../images/icons/separator-blue.png) no-repeat 50% 0;
  padding-top: 30px;
}
body.pro .field-name-body h3{
  background: transparent url(../images/icons/separator-orange.png) no-repeat 50% 0;
}
/* Activités ******************************************************************/
.view-activites .views-row{
  width : 31.25%;
  float : left;
  margin-right : 1.041666666666666666666666666667%;
  margin-top: 30px;
}
#main_content .view-activites .views-row h2 a{
  color: #131514;
  font-size: 0.8em;
  text-decoration: none;
}
#main_content .view-activites .views-row .field-name-body{
  height: 48px;
  overflow: hidden;
}